################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BNO080/v15/Browse.VC.opendb
/.vs/BNO080/v15/Browse.VC.db
/.vs/BNO080/v15/
/VisualGDB/
/BNO080//VisualGDB/Debug

